<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Enerji Tasarrufu, Elektrik Faturanızda %15'e varan İndirim | enerjikobi.com</title>
    <meta name="description" content="Enerji tasarrufu, elektrikte tasarruf, enerji verimliliği.. ">
    <meta property="og:title" content="Enerji tasarrufu, elektrik faturasında %15 indirim fırsatı  | Enerji Kobi">
    <meta property="og:site_name" content="Enerji Kobi">
    <meta property="article:tag" content="enerji tasarrufu">
    <meta property="article:tag" content="elektrik tasarrufu">
    <meta property="article:tag" content="enerji verimliliği">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/Content/plugins.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/real-estate-style.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>

    @*<link href="~/Scripts/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet" />*@

    <!-- CSS real-estate STYLE -->

</head>

<body>
    <header id="header" class="header-modern">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a href="/Home/Index">
                        <span class="logo-default">EnerjiKobi</span>
                        <span class="logo-dark">EnerjiKobi</span>
                    </a>
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                @*<div class="header-extras" style="float:right;">
                        @if (@Session["UserName"] != null)
                        {
                            <p>Hoşgeldin @Session["UserName"]</p>
                        }
                    </div>*@
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger">
                    <button class="lines-button x"> <span class="lines"></span> </button>
                </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <div id="mainMenu" class="light">
                    <div class="container">
                        <nav>
                            <ul>
                                @*<li><a href="Home/Index">Home</a></li>*@
                                @*<li class="dropdown"> <a href="#">Layout</a></li>
                                    <li class="dropdown"> <a href="#">Features</a></li>
                                    <li class="dropdown mega-menu-item"><a href="#">Elements</a> </li>
                                    <li class="dropdown"> <a href="#">Pages</a></li>
                                    <li class="dropdown mega-menu-item"> <a href="#">Portfolio</a></li>
                                    <li class="dropdown mega-menu-item"> <a href="#">Blog</a></li>*@
                                @if (Session["UserName"] == null)
                                {
                                    <li class="dropdown mega-menu-item"> <a href="~/Login/Login">Giriş</a></li>
                                }
                                else
                                {
                                    <li class="dropdown mega-menu-item"> <a href="~/Login/Logout">Çıkış</a></li>
                                }
                                <li class="dropdown mega-menu-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li class="dropdown mega-menu-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li class="dropdown mega-menu-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li class="dropdown mega-menu-item">
                                    @if (@Session["UserName"] != null)
                                    {
                                        <span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Hoşgeldin @Session["UserName"]</span>
                                    }
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360" data-autoplay="2600" data-animate-in="fadeIn" data-animate-out="fadeOut" data-items="1" data-loop="true" data-autoplay="true">
        <!-- Slide 1 -->
        <div class="slide" style="background-image:url('/Images/1.jpg');">
            <div class="container">
                <div class="slide-captions">
                    <!-- Captions -->
                    <h2 class="text-uppercase text-medium">Elektrik Faturanızda <br />%15 İndirim</h2>
                    <p class="lead">
                        Yüksek tüketiminizi tedarikçilerle sözleşmede<br /> avantaja çeviriyoruz.
                        <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 1 -->
        <!-- Slide 2 -->
        <div class="slide" style="background-image: url('/Images/2.jpg');">
            <div class="container">
                <div class="slide-captions">
                    <!-- Captions -->
                    <h2 class="text-uppercase text-medium no-margin">Tarife Danışmanlığı</h2>
                    <br />
                    <p class="lead">
                        Tüketim profilinizi inceleyip en uygun tarifeyi belirliyoruz.
                        <br />Faturalarınızda tasarruf sağlıyoruz
                    </p>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->
    </div>
    <!--end: Inspiro Slider -->

    <div>
        @RenderBody()
    </div>

    <div>
        <footer id="footer">
            <div class="footer-content">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="icon-box effect small clean">
                                <p>
                                    <strong>© 2020 konutelektrigi.com</strong>
                                    <br> Bir Massive Energy hizmetidir.
                                    <br> <a href="https://www.massivenergy.com" target="_blank">massivenergy.com</a>
                                    <br>
                                    <br>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="icon-box effect small clean">
                                <div class="icon">
                                    <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                                </div>
                                <h3>Adres</h3>
                                <p>
                                    <strong>Bilgiyi Ticarileştirme Merkezi</strong>
                                    <br> Fulya Mahallesi Yeşilçimen Sokak
                                    <br> Polat Tower Bağımsız Bölüm, D:430
                                    <br> Şişli/İstanbul
                                    <br>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="icon-box effect small clean">
                                <div class="icon">
                                    <a href="#"><i class="icon-phone"></i></a>
                                </div>
                                <h3>İletişim Bilgileri</h3>
                                <p>
                                    <strong>Telefon:</strong>
                                    <br> (123) 456-7890
                                    <br>
                                    <strong>Mail:</strong>
                                    <br> info@massivenergy.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Social icons -->
                            <div class="social-icons social-icons float-left">
                                <ul>
                                    <li class="social-instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="social-medium"><a href="#"><i class="fab fa-medium"></i></a></li>
                                    <li class="social-linkedin"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <!-- end: Social icons -->
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>
   
    <script src="~/Scripts/functions.js"></script>
</body>

</html>
